{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">Add Task</h3>

    <div class="row">
        <form class="col s12 m8 offset-m2" method="POST" action="">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-pencil-alt" minlength="5" maxlength="50" prefix light-blue-text text-darken-4"></i>
                    <input id="name" type="text" class="validate">
                    <label for="name" name="name">Name of the food</label>
                </div>
                </div>
            <div class="row">
            <div class="file-field input-field col s12">
      <div class="btn">
        <span>upload recipe</span>
        <input id="meal" type="file">
      </div>
      <div class="file-path-wrapper">
        <input id="meal" class="file-path validate" type="text">
      </div>
    </div>
            </div>
        </form>
    </div>

        

    {% endblock %}