{% extends "base.html" %}
{% block content %}

  

     {% for task in tasks %}
        {{ task.name }}<br>
        {{ task.meal }}<br>
    
<div class="row">
<div class="col-sm">
  <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="https://images.pexels.com/photos/1179002/pexels-photo-1179002.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ task.name }}</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="https://www.canva.com/design/DAEHHgJAscU/HDayZo9THy5ju71KDSIH_A/view?utm_content=DAEHHgJAscU&utm_campaign=designshare&utm_medium=link&utm_source=sharebutton" class="btn btn-primary">{{ task.meal }}</a>
  </div>
</div>
  </div>
  <div class="col-sm">col-sm</div>
  <div class="col-sm">col-sm</div>
  {% endfor %}
</div>

{% endblock %}
