{% extends "base.html" %}
{% block content %}

  
<div class=" accordion ">
  {% for task in tasks %}
  <div class="accordion-header col s12 m8 offset-m2 " id="headingOne">
    <h2 class="mb-0">
        <button class="btn btn-link btn-block text-left fas fa-caret-down col s12 m8 offset-m2 white-text  red accent-1" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"> 
         
            <a href="" class="btn-small pink accent-1">Done</a>
            <a href="{{ url_for('edit_task', task_id=task._id) }}" class="btn-small pink accent-1">Edit</a>
        
          {{ task.category_name }}
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="accordin-body">
        <strong>{{ task.task_name }}</strong>
        <p>{{ task.task_description }}</p>
        <p><em>by: {{ task.created_by }}</em></p>
      </div>
    </div>
    
    {% endfor%}
  </div>
  {% endblock %} 